[submodule "lib/Catch2"]
	path = lib/Catch2
    url = https://github.com/catchorg/Catch2.git

[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/docopt.cpp"]
	path = lib/docopt.cpp
	url = https://github.com/docopt/docopt.cpp
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
